nextcord==2.2.0
python-dotenv==0.21.0
pymongo==4.2.0
dnspython==2.2.1
InfixParser==3.1.4
requests==2.28.1
humanfriendly==10.0
PyNaCl==1.5.0
cffi==1.15.1
pycparser==2.21
six==1.16.0
lavalink==4.0.4
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2